@media (max-width: 1024px) {
  main {
    display: block;
  }

  .wrapper input,
  select {
    width: 100%;
  }

  .cart-item {
    justify-content: space-evenly;
    gap: 0;
  }
  .cart-item-name {
    font-size: 3rem;
    line-height: 5rem;
    color: #4e5150;
  }

  .cart-item-newprice {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  @media (max-width: 425px) {
    .container {
      width: 95%;
    }
    .cart-item-name {
      font-size: 1.6rem;
      line-height: 2rem;
      color: #4e5150;
    }

    .cart-item-newprice {
      font-size: 1.4rem;
      line-height: 1.7rem;
    }
  }
}
